<html>
  <head>
    <title>
      Hello, World
    </title>
    <link href="./css/bootstrap/bootstrap.css" rel="stylesheet">
    <link href="./css/bootstrap/navbar.css" rel="stylesheet">
    
    <script type="text/javascript"
            src="http://coffeescript.org/extras/coffee-script.js">
    </script>
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML"></script>
  </head>

  <body>
    <script>set_up_scalar_form()</script>
    <script>set_up_dot_product_form()</script>
    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>
    <div class="container">
        <div class="navbar navbar-default">
            <div class="navbar-header">
   
                <a class="navbar-brand" href="/">Enki</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                   <li><a href="about">about</a></li>
                </ul>
                <ul class="nav navbar-nav">
                   <li><a href="cards">review my cards</a></li>
                </ul>
                <% if signed_in? %>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="logout">sign out</a></li>
                </ul>
                <% else %>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="login">sign in</a></li>
                </ul>
                <% end %>
            </div>
            
        </div>
        <div class="jumbotron">
            <h1>Matrix Multiplication</h1>
            <p>Now that we know how to add and subtract matrices, it's time to learn matrix multiplication. Here is an example.</p>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <h2>Scalar Multiplication</h2>
                <p>Multiplying a matrix by a number (a scalar) is called scalar multiplication. Here is how it works. </p>
                <p id="scalar_demo">
                <script>get_initial_scalar_demo()</script>
               <div class="row">
                    <div class="col-xs-4">
                        <% if signed_in? %>
                        <button type="button" class="btn btn-default" onclick="solve_matrix(return_scaled_matrix())">
                            Reload
                        </button>
                        <% else %>
                        <h3>Sign in to turn on card generation</h3>
                        <% end %>
                    </div>

                    <div class="col-xs-4">
                        <% if signed_in? %>
                        <%= form_for Card.new  do |f| %>
                                <%= f.hidden_field :question, :id => "scalar_question_form_value", :value => ""%>
                                <%= f.hidden_field :answer, :id => "scalar_answer_form_value", :value => ""%>
                                <%= f.hidden_field :score, :value => 1%>
                                <%= f.hidden_field :user_id, :value => current_user.id %>
                                <%= f.submit :'add to my deck', :class=>"btn btn-primary"%>
                            <% end %>
                        <% end %>
                    </div>
                </div>
            </div>
           
            <div class="col-xs-6">
                <h2>Dot Product</h2>
                <p>Multiplying two matrices together is called the dot product.</p>
                <p id="dot_product_demo">
                <script>get_initial_dot_product_demo()</script></p>
                <div class="row">
                    <div class="col-xs-4">
                        <%if signed_in? %>
                        <button type="button" class="btn btn-default" onclick="reload_dot_product_matrix()">
                            Reload
                        </button>
                        <% else %>
                            <h3>Sign in to turn on card generation</h3>
                        <% end %>
                    </div>
                    <div class="col-xs-4">
                        <% if signed_in? %>
                            <%= form_for Card.new do |f| %>
                                <%= f.hidden_field :question, :id => "dot_product_question_form_value", :value => ""%>
                                <%= f.hidden_field :answer, :id => "dot_product_answer_form_value", :value => ""%>
                                <%= f.hidden_field :score, :value => 1%>
                                <%= f.hidden_field :user_id, :value => current_user.id %>
                                <%= f.submit :'add to my deck', :class=>"btn btn-primary"%>
                        <% end %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>
